<!-- <p>customer-order works!</p> -->

<h1>Order Details</h1>

<form>
    <label>Order ID</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" [(ngModel)]="oDetails.orderID" id="Orderid" name="Orderid"/>&nbsp;&nbsp;&nbsp;
    <br/>
    <br/>
    <label>Product ID</label>&nbsp;&nbsp;
    <input type="number" [(ngModel)]="oDetails.productID" id="Productid" name="Productid"/>&nbsp;
    <br/>
    <br/>
    <label>Quantity</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" [(ngModel)]="oDetails.quantity" id="Quantity" name="Quantity"/>&nbsp;  
    <br/>
    <br/>
    <label>Price</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" [(ngModel)]="oDetails.price" id="Price" name="Price"  />
    <br/>
    <br/>
    <input type="submit" value="Save Orders" (click)="SaveClick($event)" />
    <br/>
    <br/>
</form>

<div>
    <div> OrderID:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{oDetails.orderID}}</div>
    <div> ProductID: &nbsp;&nbsp; {{oDetails.productID}}</div>
    <div> Quantity: &nbsp;&nbsp;&nbsp;&nbsp; {{oDetails.quantity}}</div>
    <div> Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{oDetails.price}}</div>
    <div> Ammount: &nbsp; {{oDetails.quantity*oDetails.price}}</div>
</div>

