<p>emp works!</p>

<form>
    <label>Enter Empid &nbsp;</label>
    <input type="number" id="empid" [value]="empid" name="empid"/>
    <br/>
    <br/>
    <label>Enter Empname &nbsp;</label>
    <input type="string" id="ename" [value]="ename" name="ename"/>
    <br/>
    <br/>
    <label>Enter Deptno &nbsp;</label>
    <input type="number" id="deptno" [value]="deptno" name="deptno"/>
    <br/>
    <br/>
   <img [src]="imgurl" height="150px" width="200px"/>&nbsp;
   <img [src]="personurl" height="150px" width="200"/>&nbsp;
   <button (click)="saveClick($event)">save</button>