


<!-- <div  *ngIf=" IsLoggedIn; then loggedIn; else loggedOut">
    
</div>

    <ng-template #loggedIn>
        <div>
          Welcome back, friend.
        </div>
    </ng-template>

    <ng-template #loggedOut>
        <div>
          Please friend, login.
        </div>
    </ng-template> -->

<hr/>
<form>
    <input type="number" [(ngModel)]="i" id="no1" name="no1"/>
    <br/>
    <input style="background-color: plum;" type="number" [(ngModel)]="num" id="no2" name="no2"/>
    <br/>
    <input  type="text" [(ngModel)]="colorname" id="no3" name="no3"/>
    <br/>
</form>

<div [ngSwitch]="num">
    <div *ngSwitchCase="'1'">One</div>
    <div *ngSwitchCase="'2'">Two</div>
    <div *ngSwitchCase="'3'">Three</div>
    <div *ngSwitchCase="'4'">Four</div>
    <div *ngSwitchCase="'5'">Five</div>
    <div *ngSwitchDefault>None from the options</div>
  </div>


  <div [ngSwitch]="colorname">
    <div *ngSwitchCase="'Red'">Red</div>
    <div *ngSwitchCase="'Blue'">Blue</div>
    <div *ngSwitchCase="'Green'">Green</div>
    <div *ngSwitchCase="'Pink'">Pink</div>
    <div *ngSwitchCase="'Plum'">Plum</div>
    <div *ngSwitchDefault>None from the color choosed</div>
  </div>

<div  *ngIf="i>=10 ; then loggedIn; else loggedOut">
    
</div>
    
    <ng-template #loggedIn>
        <div *ngIf="i>10; then greaterthan; else equalto">    
        </div>
        <ng-template #greaterthan>
            <div>
                  greaterthan 10
            </div>
        </ng-template>
    </ng-template>

    <ng-template #equalto>
        <div>
              equal to 10
        </div>
    </ng-template>
    
    <ng-template #loggedOut>
        <div>
              less Than 10
        </div>
    </ng-template>

